{{!-- <form name="bidForm" method="POST" action="/">

  <div>
    <label for="userPhone">Логин:
      <input id="userPhone" name="userPhone" type="tel" required>
    </label>
  </div>

  <div>
    <label for="userMail">Пароль:
      <input id="userMail" name="userMail" type="email" required>
    </label>
  </div>

  <button type="submit">Отправить</button>
</form> --}}
