<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gracioso</title>
  <script defer src="/js/signin.js"></script>
  <script defer src="/js/uploadPfoto.js"></script>
  <script defer src="/js/updateAndDeleteArticle.js"></script>
  <script defer src="/js/addInput.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>

  <header>
    <div>
      <h1>GRACIOSO</h1>
      <H2>Неповторимый стиль твоего дома</H2>
    </div>
    <ul id="confidentially">
      {{#if adminName}}
      <li id="info">
        конфиденциальная информация
      </li>
      <li>
        <a href="/article">создать новый article</a>
      </li>
      <li>
        <a href="/admin/signout">Выйти</a>
      </li>
      {{/if}}
    </ul>
  </header>
  {{{body}}}
</body>

</html>
