{{!-- <h1>Создание нового экземпляра</h1> --}}

 {{!-- к форме::::: target="hiddenframe"    --}}


<form    action="/article" method="POST" enctype="multipart/form-data" name="newArticleForm">
  <label for="articleTitle">Название:<br>
    <input id="articleTitle" name="articleTitle" type="text" required>
  </label><br><br>
  <label for="articleDescription">Описание:<br>
    <textarea cols="20" rows="5" id="articleDescription" name="articleDescription" type="text" required></textarea>
  </label><br><br>
  <label for="articlePrice">Цена:<br>
    <input id="articlePrice" name="articlePrice" type="number" required>
  </label><br><br>

  <label for="articleImg">Фото:<br>
    <input type="file"   name="articleImg" required id="articleImg">
  </label><br><br>
  <button type="submit">Добавить</button>
</form>






{{!-- <iframe id="hiddenframe" name="hiddenframe" style="width:0px; height:0px; border:0px"></iframe> --}}






