body {
  padding: 10px;
  background-color: rgb(219, 76, 57);
}

main,
header,
#confidentially,
.ulShopInfo,
.flex,
.boxUl {
  display: flex;
}

.boxUl {
  flex-direction: column;
}
#aboutUs {
  width: 200px;
  padding-top: 50px;
}

/* header */
header {
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(163, 5, 5);
  border: ridge white 3px;
}
#confidentially {
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin: 10px;
}

#confidentially li {
  margin: 3px;
}

#info {
  font-style: italic;
}
.infoBox {
  margin: 30px 0px;
}
#aboutUs li {
  list-style-type: none;
}
/* информация о блоке shopList */
.aAdmin {
  margin: 40px;
}
#shopList {
  width: 80%;
}
.shopLi {
  list-style-type: none;
  padding: 20px;
  margin: 2px 20px;
  background-color: rgb(237, 253, 237);
}

.imgShop {
  padding-top: 5px;
  width: 300px;
  min-width: 300px;
  max-height: 500px;
}
.imgShop img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ulShopInfo {
  width: 60%;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-around;
}
/* информация текстом справа от картинки */
.bid,
.article {
  align-self: flex-end;
}
.article {
  font-style: italic;
}
.title {
  margin-left: 10px;
  font: italic bold 24px fantasy;
}
.ulShopInfo li {
  margin: 5px;
}
.description {
  min-height: 114px;
  text-align: justify;
  text-indent: 10%;
}
input,
textarea,
button,
form{
  border-radius: 5px;
}
input, button{
  border: white;
  height: 25px;
}
input{
  margin: 2px;
}
textarea{
  border: white;
}
a{
  color: rgb(4, 59, 14);
}
