<h3>gracioso admin login</h3>

<form name="signinForm" method="POST" action="/admin/signin">
  <div id="contentBox">
    <label for="adminName">Логин:
      <input id="adminName" name="adminName" type="text" required pattern="[A-Za-z]\w+" minlength="4"
        title="Латинские буквы, цифры и _">
    </label>

    <label for="adminPassword">Пароль:
      <input id="adminPassword" name="adminPassword" type="password" required minlength="8" autocomplete="off">
    </label>
  </div>
  <button type="submit">Войти</button>
</form>
